.flex{
    display:flex;
}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content:center;
}
.btn{
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    font-family: 'Josefin Sans', serif;
    font-weight: 700;
    border:2px solid transparent;
    outline:none;
    cursor:pointer;
    text-transform: uppercase;
}
.btn-primary{
    font-family: 'Josefin Sans', sans-serif;
    background:transparent;
    font-size: 17px;
    border:2px solid transparent;
    color:var(--pure);
}
.btn-primary:hover{
    background:transparent;
    color:var(--tertiary);
    border:1px solid transparent;
    transition: all .3s ease;
}
.flex-1{
    flex:1;
}
.justify-center{
    justify-content: center;
}


